$white-color: #ffffff;
$warning-color: #eb4d5d;
$primary-hover: darken($warning-color, 10%);
$border-radius: 0.375rem;
$outline-warning: #dc3545;
$padding-y: 0.45rem;
$padding-x: 3.7rem;

@mixin button-base {
  padding: $padding-y $padding-x;
  border: none;
  border-radius: $border-radius;
  font-weight: 600;
  cursor: pointer;
  display: inline-block;
}

.button-custom {
  @include button-base;
  background-color: $white-color;
  border: 2px solid $outline-warning;  // Outline merah
  color: black;
  font-size: 1rem;

  &:hover {
    background-color: $primary-hover;
    color: $white-color;
    border-color: $primary-hover;  
  }

  &.is-disabled {
    background-color: gray;
    cursor: not-allowed;
    opacity: 0.6;
  }
}